<dom-module id="cells-bfm-filter-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-filter; }

:host([hidden]),
[hidden] {
  display: none !important; }

*,
*:before,
*:after {
  font: inherit;
  box-sizing: inherit; }

.input {
  height: 3.5rem;
  @apply --input-height; }

.button-filter-outline {
  outline: 0;
  @apply --button-filter-outline; }

.input-max-height {
  --cells-molecule-input-wrapper: { height: 100%; }; }

.filter-main-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  @apply --main-container-movil; }

.tag-container {
  margin: 0 auto;
  width: 90%;
  @apply --tag-container-movil; }

.button-container {
  margin: 2rem auto;
  width: 90%;
  @apply --button-container-movil; }

@media (min-width: 700px) {
  .filter-main-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    @apply --main-container-tablet; }
  .tag-container {
    margin: 0 auto;
    width: 45%;
    @apply --tag-container-tablet; }
  .button-container {
    margin: 1rem auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: end;
            justify-content: flex-end;
    @apply --button-container-tablet; }
  @apply --tablet-styles; }

@media (min-width: 1000px) {
  .filter-main-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    @apply --main-container; }
  .tag-container {
    margin: 0 auto;
    width: 30%;
    @apply --tag-container; }
  .button-container {
    margin: 1rem auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: end;
            justify-content: flex-end;
    @apply --button-container; }
  @apply --web-styles; }

</style></template></dom-module>