<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-bfm-filter-styles.html">
<link rel="import" href="../cells-select/cells-select.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">

<dom-module id="cells-bfm-filter">
    <template>
    <style include="cells-bfm-filter-styles"></style>
    <div class="filter-main-container">
      <template is="dom-repeat" items="[[data.input]]">
          <template is="dom-if" if="[[_isEqualTo(item.type, 'select')]]">
            <div class="tag-container">
              <p>[[item.label]] </p>
              <cells-select class="select" id="reset" name='[[item.name]]' label="[[item.placeholder]]" options$="{{item.options}}" on-selected-changed="_setDataFilter" selectedOption="">
              </cells-select>
            </div> 
          </template>
    <template is="dom-if" if="[[_isEqualTo(item.type, 'date')]]">
            <div class="tag-container">
              <p>[[item.label]]</p>
              <cells-molecule-input class="input input-max-height" type="date" name="[[item.name]]" label="[[item.placeholder]]" on-value-changed="_setDataFilter"></cells-molecule-input>
            </div> 
          </template>
    <template is="dom-if" if="[[_isEqualTo(item.type, 'text')]]">
            <div class="tag-container">
              <p>[[item.label]]</p>
              <cells-molecule-input class="input input-max-height" type="text" name="[[item.name]]" label="[[item.placeholder]]" on-value-changed="_setDataFilter"></cells-molecule-input>
            </div> 
          </template>
    </template>
    </div>
    <div class="button-container">
        <cells-st-button class="link">
            <button class="button-filter-outline" on-click="_clearFilter">
            <span class="btn-contents">
              <iron-icon class="btn-icon" icon="[[data.buttonClearFilter.iconButtonClear]]"></iron-icon>
              <span class="btn-text">
                [[data.buttonClearFilter.buttonClearText]]
              </span>
            </span>
          </button>
        </cells-st-button>
        <cells-st-button on-click="_sendInfo">
            <button class="button-filter-outline" disabled="[[data.buttonSendFilter.buttonDisabled]]">[[data.buttonSendFilter.buttonDisabledText]]</button>
        </cells-st-button>
    </div>
    </template>
    <script src="cells-bfm-filter.js"></script>
</dom-module>